.eventAttenderx{
    min-height: 70vh;
    background-color:  #FF7A40;
    padding: 10%;
    overflow-x: hidden;
  
}

.card__container{
    display: flex;
}

.card__detailsContainer{
    position: relative;
}

.cards{
    background-color: white;
    padding: 2em 1.3em;
    min-height: 25em;
    max-height: 27em;
    min-width: 20%;
    overflow: hidden;
    margin-bottom: 1em;
}



.image__container{
    background-color: #e3e3e3 ;
    min-height: 19em;
    max-height: 19em;
    overflow: hidden;
    display: flex;
    justify-content:center ;
    align-items: center;
    
}
.card__image{
    margin-top: 5em;
    
}

.card__details{
    background-color: white ;
    padding: 10.5%;
    text-align: center;
    margin-top: -2em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    z-index: 2000000;
    position: absolute;
}

.name{
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 0.4em;
    overflow:hidden ;
}